Repository effekt-lang/effekt, pull requests merged in 2024-09, with the labels that each got.

#597 Privatize inlined functions
  libraries/llvm/rts.ll
Labels: area:llvm

#606 Implement round, floor, ceil on the LLVM backend
  effekt/jvm/src/main/scala/effekt/Runner.scala
  effekt/jvm/src/test/scala/effekt/LLVMTests.scala
  libraries/common/effekt.effekt
  libraries/llvm/rts.ll
Labels: feature, area:llvm, quality-of-life, area:stdlib

#553 Direct IO which is asynchronous
  effekt/jvm/src/main/scala/effekt/Runner.scala
  effekt/jvm/src/test/scala/effekt/StdlibTests.scala
  effekt/shared/src/main/scala/effekt/generator/js/TransformerMonadic.scala
  effekt/shared/src/main/scala/effekt/generator/llvm/PrettyPrinter.scala
  effekt/shared/src/main/scala/effekt/generator/llvm/Transformer.scala
  effekt/shared/src/main/scala/effekt/generator/llvm/Tree.scala
  effekt/shared/src/main/scala/effekt/machine/Transformer.scala
  effekt/shared/src/main/scala/effekt/machine/Tree.scala
  effekt/shared/src/main/scala/effekt/symbols/builtins.scala
  effekt/shared/src/main/scala/effekt/symbols/symbols.scala
  examples/neg/extern_handled.effekt
  examples/pos/liftinference.effekt
  examples/stdlib/io/filesystem/async_file_io.check
  examples/stdlib/io/filesystem/async_file_io.effekt
  examples/stdlib/io/filesystem/demo_file1.txt
  examples/stdlib/io/filesystem/demo_file2.js
  examples/stdlib/io/filesystem/files.check
  examples/stdlib/io/filesystem/files.effekt
  examples/stdlib/io/filesystem/wordcount.check
  examples/stdlib/io/filesystem/wordcount.effekt
  examples/stdlib/io/promise.effekt
  examples/stdlib/io/time.effekt
  libraries/common/io.effekt
  libraries/common/io/console.effekt
  libraries/common/io/error.effekt
  libraries/common/io/files.effekt
  libraries/common/io/filesystem.effekt
  libraries/common/io/network.effekt
  libraries/common/io/time.effekt
  libraries/js/io.js
  libraries/js/unsafe/cont.effekt
  libraries/llvm/io.c
  libraries/llvm/io.ll
  libraries/llvm/main.c
  libraries/llvm/rts.ll
  libraries/llvm/types.c
Labels: area:stdlib
