Repository effekt-lang/effekt, pull requests merged in 2025-01, with the labels that each got.

#775 Add Examples / Unit Tests for Exceptions
  examples/stdlib/exception/combinators.check
  examples/stdlib/exception/combinators.effekt
Labels: area:stdlib, area:tests

#791 ByteArray support for Chez
  effekt/jvm/src/test/scala/effekt/StdlibTests.scala
  examples/stdlib/bytearray/bytearray_compare.check
  examples/stdlib/bytearray/bytearray_compare.effekt
  libraries/common/bytearray.effekt
  libraries/common/effekt.effekt
Labels: area:stdlib, area:chez

#561 Add immutable ordered finite 'map' and 'set' to the stdlib
  examples/stdlib/map/cache.check
  examples/stdlib/map/cache.effekt
  examples/stdlib/map/counter.check
  examples/stdlib/map/counter.effekt
  examples/stdlib/map/map.check
  examples/stdlib/map/map.effekt
  examples/stdlib/map/minmax.check
  examples/stdlib/map/minmax.effekt
  examples/stdlib/map/setops.check
  examples/stdlib/map/setops.effekt
  examples/stdlib/set/unique.check
  examples/stdlib/set/unique.effekt
  examples/stdlib/stream/map.check
  examples/stdlib/stream/map.effekt
  libraries/common/bytearray.effekt
  libraries/common/effekt.effekt
  libraries/common/map.effekt
  libraries/common/set.effekt
  libraries/common/stream.effekt
Labels: area:stdlib

#798 Unification benchmark using 'map' and 'stream'
  effekt/shared/src/main/scala/effekt/core/optimizer/Normalizer.scala
  effekt/shared/src/main/scala/effekt/generator/js/TransformerCps.scala
  examples/benchmarks/other/unify.check
  examples/benchmarks/other/unify.effekt
Labels: bug, area:stdlib, area:tests

#795 Add stdlib test importing every stdlib module + fix stdlib
  .github/workflows/acme.yml
  effekt/jvm/src/test/scala/effekt/StdlibTests.scala
  examples/stdlib/acme.check
  examples/stdlib/acme.effekt
  examples/stdlib/buffer.check
  examples/stdlib/buffer.effekt
  examples/stdlib/json.check
  examples/stdlib/json.effekt
  libraries/common/buffer.effekt
  libraries/common/io/network.effekt
  libraries/common/json.effekt
Labels: area:stdlib, area:tests

#585 Mutable dynamic arrays, heaps, and simple union find data structures
  examples/stdlib/acme.effekt
  examples/stdlib/heap/heap.check
  examples/stdlib/heap/heap.effekt
  examples/stdlib/resizable_array/resizable_array.check
  examples/stdlib/resizable_array/resizable_array.effekt
  examples/stdlib/union_find/union_find.check
  examples/stdlib/union_find/union_find.effekt
  libraries/common/heap.effekt
  libraries/common/resizable_array.effekt
  libraries/common/union_find.effekt
Labels: area:stdlib
