Repository effekt-lang/effekt, pull requests merged in 2025-04, with the labels that each got.

#939 Don't reallocate StringBuffer when flushing
  examples/stdlib/stringbuffer.check
  examples/stdlib/stringbuffer.effekt
  libraries/common/stringbuffer.effekt
Labels: area:stdlib, experiment

#940 Make 'core.Renamer' quicker by simplifying scope handling
  effekt/jvm/src/test/scala/effekt/core/RenamerTests.scala
  effekt/jvm/src/test/scala/effekt/core/TestRenamer.scala
  effekt/shared/src/main/scala/effekt/core/Renamer.scala
Labels: area:compiler

#945 Add tailrec annotations wherever possible
  effekt/jvm/src/main/scala/effekt/util/PathUtils.scala
  effekt/shared/src/main/scala/effekt/Namer.scala
  effekt/shared/src/main/scala/effekt/core/optimizer/Normalizer.scala
  effekt/shared/src/main/scala/effekt/core/vm/VM.scala
  effekt/shared/src/main/scala/effekt/generator/llvm/Transformer.scala
  effekt/shared/src/main/scala/effekt/source/Tree.scala
  effekt/shared/src/main/scala/effekt/symbols/Scope.scala
  effekt/shared/src/main/scala/effekt/util/Structural.scala
Labels: quality-of-life

#961 Add wellformedness check for type of `var ... in ...`
  effekt/shared/src/main/scala/effekt/typer/Wellformedness.scala
  examples/neg/issue919.effekt
Labels: bug, area:typer

#966 Add bytestream-based 'random' module with PRNG and /dev/urandom handlers & fix float ops on Chez
  examples/stdlib/acme.effekt
  examples/stdlib/random.check
  examples/stdlib/random.effekt
  libraries/common/effekt.effekt
  libraries/common/random.effekt
Labels: area:stdlib
